@mixin area-selectable() {
    cursor: default;
    -webkit-app-region: no-drag;
    &:hover,
    &.sel--active {
        background-color: var(--mac-bg-control-hover);
    }
    &:active {
        background-color: var(--mac-bg-control-pressed);
    }
}

@mixin area-selectable-on-secondary() {
    @include area-selectable();
}

@mixin area-selected() {
    cursor: default;
    -webkit-app-region: no-drag;
    background-color: var(--mac-selection);
    color: var(--mac-selection-text);
    &:hover {
        color: var(--mac-selection-text);
    }
}

@mixin area-selected-on-secondary() {
    cursor: default;
    -webkit-app-region: no-drag;
    color: var(--mac-label);
    background-color: var(--mac-selection-sidebar);
    &:hover {
        color: var(--mac-label);
    }
}
